/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* INDEX STYLE */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
/* Variable */
.root{
    --bg: #efefef;
    --text: #393939;
}
.container-second{
    max-width:1100px;
    margin: 0 auto;
    width:100%;
    padding: 30px 20px;
    margin: 2px solid red;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    width:100%; 
}
/* FLEX BOXES */
.flex-column{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex-1 {
    display: flex;
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-start{
    display: flex;
    /* justify-content: flex-end; */
    align-items: left;
}
.align-end{
    display: flex;
    justify-content: flex-end;
}
.flex-60{
    flex: 0 1 60%;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-37{
    flex: 0 1 37%;
}
.flex-39{
    flex: 0 1 39%;
    margin-top: 170px;
    margin-left: 170px;
}
.flex-12{
    flex: 0 1 5%;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-50{
    flex: 0 1 50%;
}
.wrap{
    flex-wrap: wrap;
}
.btn{
    font-size: 16px;
    padding: 16px 32px;
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: #FD656B;
    border-radius: 4px;
    margin-right: 55px;
}
.padding{
    padding: 60px 0;
}
/* header-ribbon */
.header-ribbon{
    width: 100%;
    background-color: #012D5B;
    padding: 16px 0;
}
address{
    font-size: 16px;
    text-transform: capitalize;
    /* margin-left: 10px; */
    color: #fff;
}
.message{
    margin-right: 360px;
}
.message a {
    color: #fff;
    text-decoration: none;
}
.social-media a{
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 30px;
    color: #fff;
}
/* Header */

.nav-bar{
    margin-left: 370px;
    padding: 16px 0;
}
.nav-bar li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    color: #012D5B;
}
/* Hero section */
.hero{
    background: url(../media/hero/h1_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;

}
.hero-text{
    color:#FD777C;
    text-transform: capitalize;
    font-weight: 400;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    color:#012D5B;
    font-weight: 1000;
    margin-bottom: 48px;
    /* margin-right: 140px; */
}
/* TEAM-SECTION  */
.team{
    background-color: #F6F9FE;
}
.flex-16{
    flex: 0 1 20%;
}
.article-col{
    margin-left:4px;
    margin-right: 17px;
    
}
.article-col p{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
}
.border-red{
    border: 3px solid #FD777C;
    /* margin-right:39px; */
    padding: 16px;
    
    margin-left: 6px;
    line-height: 1.4;
    background-color: #FFFFFF;
    width: 50px;
}
.border-red p{
    margin: 20px 0;
}
.h3{
    font-size: 23px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 16px 0px;
}
.flex1{
    display: flex;
}

.flex-27{
    flex:1 1 27%;
}

.chevron i{
    color: #393939;
    margin-top: 18px;
    margin-left: 7px;

}
.h2{
    font-size: 37px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 8px 0;
}
h4{
    margin-top: 15px;
    text-transform: capitalize;
    text-align: left;
}
.team-hr{
    width: 30%;
    height: 3px;
    background-color:#FD777C;
    margin-right: 160px;
}
/* CLIENTS SECTION */
.client{
   background-color: #FFFFFF;
   position: relative;
}
.flex-40{
    flex: 0 1 40%;
}
.client img{
    width: 100%;  
    height: 400px;
    margin-left: 37px;  
}
.flex-20 p{
    width: 320px;
    margin: 30px 0;
}
.border-white{
  width:36%;
  position: absolute;
  right:0em;
  top: 7em;
  left:407px;
  background-color: rgba(255,255,255,0.6);
  padding: 50px
}
/* SERVICES SECTION */
.service-heading{
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}
.col p{
    color: grey;
}
.col{
    flex: 0 1 30.5%;
    height:200px;
    padding: 30px;
    text-align: center;
    background-color:#FCFDFF;
    margin-left: 22px;
    /* border: 1px solid red;  */
}
.col i {
    font-size: 40px;
}
.service{
    text-align: center;
    padding: 30px;
}
.service-btn{
    font-size: 16px;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 3px;
    text-transform: capitalize;
    border: 2px solid #fd656b;
    background-color: #fff;
    margin: 110px 0;
}
.service-btn a{
    text-decoration: none;
    color: #FD656B;
    font-weight: 600;
}
/* CASES SECTION */
.cases{
    background-color: #F8FAFE;
}
.cases-text{
    text-transform: capitalize;
    font-size:16px;
    margin-bottom: 40px;
}
.cases-img-container{
    flex-wrap: nowrap;
    overflow: hidden;
    width:60%;
    padding-right: 0;
}
.cases-content{
    width:40%;
    padding-left: 6em;
}
.cases-img{
    width:40%;
    margin-left:2em;
}
.h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cases-btn{
    background-color: transparent;
    border: 3px solid #FD656B;
    color: #FD656B;
    font-weight:500;
    margin-top: 20px;
}

/* TESTIMONIALS SECTION */
.testimonials{
    background-color: var(--bg);
    text-align: center;
}
.star{
    color: #FBBA42;
    margin: 16px 0;
}
.flex-40{
    flex: 0 1 40%;
}

.flex-37{
    margin: 0 130px;
}
h4{
    font-size: 16px;
    font-weight: 500;
}
h5{
    margin-top: 16px;
}
/* RECENTS NEWS SECTION  */
.news{
    padding: 0 200px;
}
.news-content {
    padding: 0 82px;
}
.news-para{
    padding: 21px;
    background-color: #FCFDFF;
}
.news-para p{
    text-transform: capitalize;
    margin:12px 0px;
}

.recent-col{
    margin-top: 20px;
     flex: 0 1 32%;
    /* margin-left: 100px;  */
    
}
.recent-col img{
    width:100%;
}
.justify-space-between{
    justify-content: space-between;
    margin-right:.35px
}
.news-para date{
  color: grey;
  text-transform: capitalize;
}
/* CALL SECTION*/
.call{
    background-color: hsl(211, 98%, 18%);
    position: relative;
}
.call-heading{
    color: #fff;
    margin-right: 27px;
    font-size: 2em;
    font-weight: 800;
    text-transform: capitalize;
}
.call-para{
    color:#fff;
    line-height: 1.5;
    color: #fff;
    margin-right: 1em;
    margin-top: 10px;
}

.request-form input{
    background: none;
    border: none;
    border: 1px solid #295684;
    border-radius: 4px;
    color: #fff;
}
.request-form input::placeholder{
    color: white  !important;
}
.request-form select{
    background: none;
    border: none;
    border-radius: 4px;
    border: 1px solid #295684;
    color: white;
    width: 100%;
}
.form-control{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.flex-80{
    flex: 0 1 89%;
    margin-right: 10px;
    /* display: flex; */
    align-items: flex-start;
}
.call-request-form input::placeholder { 
    background-color: transparent;
    opacity: 1;     
}
 
.btn-div{
    text-align: right;
}
.form-btn{
    padding: 11px 56px;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-right: 0;
}
.flex-25{
 flex: 0 1 32%;
}
.call-request-form{
    margin-right: 100px;
    margin-left: 70px;
}
.call-request-form .services-input {
    width: 60%;
    color: #758EA8;
}
.request-form input::placeholder{
    color: white  !important;
}

.form-control{
    display: block;
    width:100%;
    padding: 0.5rem 1rem;
}
.form-control-select{
    width:600px ;
    color: white;
}
.call-btn{
    height:60px;
}

/* FOOTER SECTION */
.footer{
    background-color: #F8FAFE;
}
.flex1{
    display:flex;
}
.footer-col{
    margin-left: 80px;
}
.footer-para{
    margin-top: 12px;
}
h8{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
  color: #295684;
}
.footer-col p{
color:grey;
margin:18px 0px;
}
.align-item{
    display: flex;  
}
.social-media a{
    color:#fff;
    margin-right: 6px;
}
.social-media-footer a{
    color:black;
    margin-right: 11px;
}
.line{
    width:85%;
    margin-bottom: 30px;
    margin-left:80px;
    background-color:#D5E6FD;
    height:1px;
}
.flex-19{
    flex: 0 1 30%;
    line-height: 1.5;
    /* margin-right: 20px; */
}
.address-footer{
    margin-bottom: 70px;
    color:grey;
}
.col-2{
    text-transform: capitalize;
    color:grey;
    /* line-height: 0.5; */
    margin-bottom: 25px ;
    padding: 0 30px;
    margin-right: 10px;
}
.h7{
  font-size: 16px;
  font-weight: 800;
  color:#295684;
  text-transform: capitalize;
  margin-left: 28px;
}
small{
    text-transform: capitalize;
    margin-top: 40px;
}
strong{
    color:#FD656B;
    text-transform: capitalize;
}
.footer-footer{
    text-align: center;
}
.footer-footer i{
    color: #FD656B;
}

/* BLOG PAGE */
/* BLOG PAGES START HERE */
.hero-blog{
    background: url(../media/hero/blog_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 30vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.blog{
    padding-top: 4em;
    padding-bottom: 4em;
}
.blog-container{
    width:50%;
    padding-right: 2%;
    margin-left: 200px;
    /* background-color: #FFFFFF; */
}
.blog-article h6{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: .5em;
    border-bottom: 1px solid rgb(221, 220, 220);
}
.blog-article p{
    padding-bottom: 1em;
    color: grey;
}
.content-blog{
    margin-bottom: 1.6em;
}
.image-blog{
    position:relative;
}
.image-blog img{
    width:100%;
}
.h1-blog{
    text-align: center;
    color: #fff;
}
.blog-wrapper{
    align-items: flex-start;
}
.container-date{
    width:100px;
    height:100px;
    background-color: #fd656b;
    border-radius: 2px;
    position: absolute;
    margin-top: -80px;
    margin-left: 30px;
}
.date{
    font-size: 30px;
    padding: 10px;
    color:#fff;
    font-weight: 500;
    text-align: center;
}
.blog-article{
  background-color: #f9f9f9;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex-30{
    flex: 0 1 30%;
}
.small-box{
    margin-right: 60px;
    margin-bottom: 40px;
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border: 2px solid #D5E6FD;
    background-color: #fff;
    margin-right: 10px;
    color: grey;
}
.two{
   background-color: #f5f9ff;
}
.box-1 i{
    color: grey;
}
/* ASIDE */
.blog-search{
    width:25%;
}
.container-search{
    background-color: #F8FAFE;
    width:100%;
    padding: 38px;
}
.search-btn{
    font-size: 16px;
    padding: 8px 60px;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fd656b;
    background-color: #fff;
    margin-top: 12px;
    text-align: center;
}
.blog-sub-heading{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}
.aside-hr{
    width:100%;
    color:#f9f9f9;
    margin: 10px 0;
}
.form-blog input{
    height:35px;
}
.search-btn a{
    text-decoration: none;
    color: #FD656B;
    font-weight: 600;
}
.submit-btn{
    background-color: #FD656B;
    border:none;
    color:#fff;
}
.submit-btn i{
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CATEGORY */
.category{
    width:100%;
    padding: 36px; 
    background-color: #F8FAFE;  
    margin-top: 18px;
}
ul{
    margin-right: 45px;
}
li{
    font-size:16px;
    margin-top: 10px;
    /* margin-bottom: 18px; */
    text-transform: capitalize;
}
/* Recent post */
.recent-post{
    width:100%;
    padding: 36px; 
    background-color: #F8FAFE;
    margin-top: 18px
}
.post{
    display: flex;
    align-items: center;
}
.post-title{
    margin-left: 15px;
}
.post-title p{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
}
.post img{
    margin-top: 20px;
}
.blog-date{
    margin-top: 10px;
}
/* TAG CLOUDS */
.tag-clouds{
    
    padding: 36px;
    background-color: #F8FAFE;
    margin-top: 18px;
}
.tag-clouds span{
    background-color: #F6F9FE;
    border: 1px solid #efefef;
    padding: 3px;
    margin-top: 15px;
    display: inline-block;    
}
.flex-wrap{
    flex-wrap: wrap;
}
/* INSTAGRAM FEED */
.instagram-feed{
    padding: 23px;
    background-color: #F8FAFE;
    margin-top: 18px; 
}
.blog-img{
    margin-top: 15px;
}
/* NEWSLETTER */
.newsletter{
    width:100%;
    background-color: #F8FAFE;
    margin-top: 20px;
    padding: 29px; 
}
.newsletter-blog{
    margin-top: 15px; 
}
.newsletter-blog input{
    padding: 1em;
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid rgb(245, 241, 241);
    background: #fff;
}
.subscribe-btn{
    font-size: 16px;
    padding: 1em;
    width:100%;
    text-transform: capitalize;
    border: 1px solid #fd656b;
    background-color: #fff;
    color:#FD656B;
    text-align: center;
}
/* CASES STYLE START */
.hero-cases{
    background: url(../media/hero/cases_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.h1-blog{
    text-align: center;
    color: #fff;
}
.cases-page{
    width:65%;
    padding: 64px 0px;
    margin-left: 305px;
}
.cases{
    width:80%;
    padding: 64px 0px;
    /* margin-left: 300px; */
    margin: auto;
}
.cases-work-content img{
   width: 100%; 
}
.cases-work-content{
        flex: 1 0 30%;
        margin: 10px 10px;
        position: relative;
}
.cases-work-text{
    width:80%;
    padding: 16px;
    background-color: #efefef;
    position: absolute;
    margin-top: -90px;
}
.cases-text h6{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    /* padding-bottom: .5em;  */
}
.cases-text p{
    font-weight: 100;
}
/* CONTACT PAGES */
.hero-contact{
    background: url(../media/hero/contact_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.map iframe{
    display: block;

  width:73%;
  /* margin:90px 0; */
  margin: 50px 205px;
}
.get-in-touch h6{
    font-size:30px;
    text-transform: capitalize;
    font-weight:700;
    margin-bottom:10px;
    margin-left: 200px;
}
.contact-form{
    margin-left: 110px;
}
.get-in-touch-form{
    
    width:67%;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    margin-left: 95px;
}
.get-in-touch-form textarea {
    width:100%;
    height:15vh;
    padding: 10px;
    margin-bottom: 20px;
}
.get-in-touch-form input{
    width:48%;
    padding:15px;
    /* margin-right: 17px; */
    margin-bottom: 20px;
}
.justify-space-between{
    display: flex;
    justify-content: space-between;
}
.get-in-touch-form .subject-input{
    width:100%;
}
.send-btn{
    /* display: block; */
    background-color: transparent;
    text-transform:uppercase;
    color:#FD656B;
    border: 2px solid #fd656b;
}
/* ASIDE CONTACT */
.address-info{
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
}
.address-items{
    margin-bottom: 20px;
}
.address-items i{
    font-size:20px;
    padding-left: 30px;
}
.address-items p{
    padding-left: 20px;
}
.address-item p span {
    color: grey;
    font-size: 12px;
}
.flex-start{
    align-items: flex-start;
}

/* ABOUT PAGES */
.hero-about{
    background: url(../media/hero/about_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


